<% title("Safina | Create Invoice") %>

<% content_for :main_actions do %>
  <%=
    link_to 'Back', admin_root_path, 
    class: 'btn btn-outline btn-primary btn-xs pull-right'
  %>
<% end %>

<div class="form-area">
  <%= form_tag admin_safina_create_invoice_path do %>
    <br style="clear:both">
    <h3 style="margin-bottom: 25px; text-align: center;">
      Safina Invoice Form
    </h3>
		<div class="form-group">
      <label for="paymentAmount">Amount</label>
			<%= text_field_tag 'paymentAmount', nil, placeholder: 'in IDR', required: true, class: 'form-control' %>
		</div>
		<div class="form-group">
      <label for="merchantOrderId">Order Reference</label>
			<%= text_field_tag 'merchantOrderId', nil, placeholder: 'Card ID from Airtable',required: true, class: 'form-control' %>
      <span class="help-block"><p class="help-block ">Airtable UUID untuk Kartu ini</p></span>
		</div>
		<div class="form-group">
      <label for="productDetails">Description</label>
			<%= text_field_tag 'productDetails', nil, placeholder: 'Kartu Safina #0000 untuk ....', required: true, class: 'form-control' %>
      <span class="help-block"><p class="help-block ">Card description</p></span>
		</div>
    <div class="form-group">
      <label for="merchantUserInfo">User Reference</label>
      <%= text_field_tag 'merchantUserInfo', nil, placeholder: 'Email Pelanggan', required: true, class: 'form-control' %>
      <span class="help-block"><p class="help-block ">The email address of customer</p></span>
    </div>

    <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
