<% title("Safina | Prepare Payment Notification For Reload") %>

<% content_for :main_actions do %>
  <%=
    link_to 'Back', admin_root_path,
    class: 'btn btn-outline btn-primary btn-xs pull-right'
  %>
<% end %>

<div class="form-area">
  <%= form_tag admin_safina_send_reload_payment_notif_path do %>
    <br style="clear:both">
    <h3 style="margin-bottom: 25px; text-align: center;">
      Top Up Safina Card Invoice Form
    </h3>
		<div class="form-group">
      <label for="transactionUUID">Transaction Record ID</label>
      <%= text_field_tag 'transactionUUID', nil, required: true, class: 'form-control' %>
		</div>

    <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
