<%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-social btn-facebook #{auth_class_button(login)}" do %>
  <%= embedded_svg('facebook.svg') %>
  <%= omniauth_button_display('Facebook', login) %>
<% end %>
<%= link_to user_omniauth_authorize_path(:google_oauth2), class: "btn btn-block btn-social btn-google-plus #{auth_class_button(login)}" do %>
  <%= embedded_svg('googleplus.svg') %>
  <%= omniauth_button_display('Google', login) %>
<% end %>