<% title("Article Dashboard") %>

<% content_for :main_actions do %>
  <%= button_to 'Sync With Contentful', bulk_sync_admin_articles_path, class: 'btn btn-outline btn-primary btn-xs pull-right' %>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Author</th>
    <th>Published At</th>
    <th>Last Sync At</th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>

  <tr>
    <td class="post_title">
      <%= post.title %>
    </td>
    <td class="post_category">
      <%= post.category %>
    </td>
    <td class="post_author">
      <%= post.author_name %>
    </td>
    <td class="post_published_at">
      <%= post.published_at.strftime("%d/%m/%Y") %>
    </td>
    <td class="post_synced_at">
      <%= time_ago_in_words post.last_sync_at %> ago
    </td>
    <td><%= link_to "View", article_path(post) %></td>
    <td><%= link_to "Re-sync", sync_admin_article_path(post), method: :post %></td>
  </tr>

  <% end %>

</table>

<hr>
