<% content_for :head do %>
  <html itemscope itemtype="http://schema.org/Article">
  <meta name="keywords" content="<%= @keywords %>">

  <meta name="twitter:site" content="<%= ENV["TWTR_HANDLER"] %>">
  <meta name="twitter:title" content="Pustaka Kapiten">
  <meta name="twitter:description" content="<%= App::Description::BLOG %>">
  <meta name="twitter:creator" content="<%= ENV["TWTR_HANDLER"] %>">
  <meta name="twitter:image" content="<%= App::Source::BLOG_IMAGE %>">

  <meta itemprop="name" content="Pustaka Kapiten">
  <meta itemprop="description" content="<%= App::Description::BLOG %>">
  <meta itemprop="image" content="<%= App::Source::BLOG_IMAGE %>">
  <meta itemprop="url" content="<%= "https://#{request.host}" %>">

  <meta property="fb:app_id" content="<%= ENV["FB_APP_ID"] %>" />

  <meta property="og:image" content="<%= App::Source::BLOG_IMAGE %>">
  <meta property="og:site_name" content="<%= App::Naming::BLOG +  ' | ' + ENV["SITE_NAME"] %>">
  <meta property="og:title" content="<%= App::Naming::BLOG + " | Pembahasan ilmu muamalah" %>">
  <meta property="og:description" content="<%= App::Description::BLOG %>">
  <meta property="og:type" content="article">
  <meta property="og:locale" content="id_ID">
  <meta property="og:url" content="<%= "https://#{request.host + url_for(:page => params[:page]) }" %>">    
<% end %>

<%
  set_meta_tags title: App::Naming::BLOG + " | Pembahasan ilmu muamalah",
  description: App::Description::BLOG
%>

<div class="site-wrapper smaller" id="blog">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="cover centered">
        <h1 class="cover-heading"><%= App::Naming::BLOG %></h1>
        <p class="lead">Pembahasan ilmu muamalah dan praktiknya</p>
        <div class="spacing"></div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="grid">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="item">
        <div class="box panel panel-default">
          <%= link_to image_tag(post.header_url), post %>
          <div class="blog-post-meta">
            <span class="label label-light label-info"><%= post.category || 'uncategorized' %></span>
            <p class="blog-post-date pull-right"><%= post.updated_at.strftime('%e %B %Y') %></p>
          </div>
          <div class="info">
            <h2><%= link_to post.title, post %></h2>
            <p><%= post.teaser %></p>
            <p class='read-more-link'><%= link_to 'Baca lebih lanjut', post %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'layouts/footer', locals: { page_root: App::Naming::BLOG + " Kapiten" } %>