<% content_for :head do %>
  <html itemscope itemtype="http://schema.org/Article">
  <meta name="keywords" content="<%= @keywords %>">

  <meta name="twitter:card" content="<%= @post.teaser %>">
  <meta name="twitter:site" content="<%= ENV["TWTR_HANDLER"] %>">
  <meta name="twitter:title" content="<%= @post.title %>">
  <meta name="twitter:description" content="<%= @post.teaser %>">
  <meta name="twitter:creator" content="<%= ENV["TWTR_HANDLER"] %>">
  <meta name="twitter:image" content="<%= 'https:' + @post.header_url %>">

  <meta itemprop="name" content="<%= @post.title %>">
  <meta itemprop="description" content="<%= @post.teaser %>">
  <meta itemprop="image" content="<%= 'https:' + @post.header_url %>">
  <meta itemprop="url" content="<%= "https://#{request.host}" %>">

  <meta property="fb:app_id" content="<%= ENV["FB_APP_ID"] %>" />

  <meta property="og:image" content="<%= 'https:' + @post.header_url %>">
  <meta property="og:site_name" content="<%= App::Naming::BLOG +  ' | ' + ENV["SITE_NAME"] %>">
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:description" content="<%= @post.teaser %>">
  <meta property="og:type" content="article">
  <meta property="og:locale" content="id_ID">
  <meta property="og:url" content="<%= "https://#{request.host}" %>">  
<% end %>

<%
  set_meta_tags title: @post.title,
  description: @post.teaser
%>

<% content_for :body_class do %>
  white-background
<% end %>


<div id="article-container">
  <div id="article-limiter">
    <div class="article">
      <div class="article--header">
        <h2 class="article--title"><%= @post.title %></h2>
        <h5 class="article--timestamp"><%= @post.updated_at.strftime("Terakhir diperbarui pada tanggal %d/%m/%Y") %></h5>
        <p>
          <%= render 'shared/inline_share_toolbox' %>
        </p>
        
        <%= image_tag @post.header_url %>
      </div>
      <div class="article--content">
        <%= markdown(@post.body) %>
      </div>
      <div class="article--footer">
        
      </div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/footer', locals: { page_root: App::Naming::BLOG + " Kapiten" } %>