.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; }
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }
.glyphicon { margin-right:10px; }
.alert a {color: gold;}

  /* Alert */
.floating-alert{
  // width: 300px;right: 500px; top: 60px; position: fixed;z-index: 100040;
  width: 100%; cursor: auto;
  margin-bottom: 5px; padding: 5px;
  margin-top: 50px;
  .close {
    font-size: 36px; line-height: 1.5; opacity: 0.4;
  }
  .alert-container {
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0;
    text-align: center;
  }
  .alert-success {
    background-color: $turqoise; color: white; font-weight: 700;
  }
}

@media ( max-width: 768px ) {
  .floating-alert{
    right: 0px; top: 10px;
  }
}
