/* Grid */

.post {
  margin: 0 0 50px;
  text-align: center;
  width: 100%;
}
.post img { padding: 0 15px; width: 100%; }

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  #pins {
    margin: 0 auto;
    width: 100%;
    .box {
      margin: 10px;
      width: 340px;
    }
  }
}

/* Medium devices */

@media (min-width: 768px) {
  #grid > #posts .post { width: 335px; }
  #grid > #posts .post.cs2 { width: 100%; }
  .post img { padding: 0; }
}


/* Medium devices */

@media (min-width: 992px) {
  #grid > #posts .post { width: 445px; }
  #grid > #posts .post.cs2 { width: 100%; }
}

/* Large devices */

@media (min-width: 1200px) {
  #grid > #posts .post { width: 346px; }
  #grid > #posts .post.cs2 { width: 742px; }
}

/* Large devices min-width (1200px) + a .post margin (50px) * 2 (100px) = 1300px */
/* 1300px gives me the clearance I need to keep the margins of the entire #grid (the
bleed if you will) the same width as the .post margins posts (50px). Basically I'm
being really picky about whitespace. If you don't care, no problem, just delete this.
Can this be done with Masonry options? */

@media (min-width: 1300px) {
  #grid {
    padding: 3% 10% 5% 10%;
    position: relative;
    .container {
      left: auto; padding-left: 15px; padding-right: 15px;
    }
  }
}

#grid {
  .container .post img { padding: 0; }
  .sharing-prompt {
    text-align: center; margin-top: 3em;
    .addthis_inline_share_toolbox { margin-top: 2.5em; }
  }
  *, *:before, *:after {box-sizing:  border-box !important;}


  .row {
   -moz-column-width: 18em;
   -webkit-column-width: 18em;
   -moz-column-gap: 1em;
   -webkit-column-gap:1em;

  }
   margin: 0 auto;
   width: 100%;
    .item {
      display: inline-block;
      padding:  .25rem;
      width:  100%;
    }
    .box {
      position:relative;
      display: block;
      margin: 10px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      border-radius: 7px;
      img { max-width: 100%; height: auto; }
      .blog-post-meta {
        padding: 16px 22px;
        color: #999;
        display: block;
        border-bottom: 1px solid #EDEDED;
        .label-info {
          background-color: white; color: $imperial-blue;
          border: 1px solid $imperial-blue;
        }
        .blog-post-date { color: $brand-grey; font-size: 13px; }
      }
      .info {
        padding: 15px;
        h2 {
          font-family: $font-family-raleway;  font-size: 22px;
          margin: 0;
          padding: 0px 10px 0px 10px;
          a { color: black; }
        }
        p {
          padding: 10px 10px 10px 10px; color: $brand-grey;
          font-size: 14px; font-weight: 500;
        }
        .read-more-link {
          text-transform: uppercase; font-weight: 500; margin-top: 35px;
        }
      }
      .foot {
        font-size: 12px;
        border-top: 1px solid #EAEAEA;
        padding: 10px;
        margin: 0;
      }
    }
 }


#article-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto; margin-top: 55px;
  #article-limiter {
    max-width: 720px; margin: 0 auto;
    padding-left: 1em; padding-right: 1em;
  }
  .hero_image {
    text-align: center;
    img {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
  }
  .article .article--content {
    color: rgba(0,0,0,.8);
    font-size: 1.15em;
    margin-top: 2em;margin-bottom: 4em;
    line-height: 2.1em;
    text-align: justify;
    p, blockquote, img {
      margin-top: 2em; margin-bottom: 2em;
      font-family: $font-family-base;
    }
    blockquote p {
      margin-top: 0;
    }
    dl.arabic { font-family: $font-family-arabic; font-weight: normal; font-style: normal; font-size: 1.4em;}
    strong, h1, h2, h3 { font-weight: 700; }
    h1, h2, h3 { margin-top: 2.5em; }
    h1, h2, h3, h4, h5 { font-family: $font-family-raleway; font-size: 1.5em; }
  }
  .article--footer {
    margin-bottom: 2em;
    .breadcrumb {
      background-color: white;
      margin-bottom: 0px;
      border-bottom: 1px solid $brand-border;
      li {
        font-weight: 500; color: $brand-grey;
      }
      li + li:before { padding: 0 10px; }
    }
  }
}

@media (min-width: 768px) {
  #article-container {
    .hero_image img {
      max-height: 500px;
    }
  }
}
@media screen and (max-width: 768px) {
  #article-container {
    .hero_image img {
      max-height: 360px;
    }
  }
}
@media (max-width: 460px) {
  #article-container {
    .hero_image img {
      max-height: 210px;
    }
  }
}

.article--header {
  .article--title {
    font-weight: 700;
    line-height: 1.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid grey;
  }
  .article--timestamp {
    color: grey;
    font-weight: 500;
    margin-bottom: 1.5em;
  }  
}