/* Buttons */

.btn {
  &.btn-simple {
    background-color: transparent;  border-radius: 0; color: $brand-grey;
    font-size: 14px; padding-left: 14px; padding-right: 14px;
    padding-top: 14px; padding-bottom: 14px;
    font-weight: 500; text-transform: none;
    &.btn-icon {
      img {  width: 30px; height: 30px; }
    }
    &:hover{ }
    &.active{
      -webkit-box-shadow: none; box-shadow: none;
    }
    span.pull-right {
      margin-left: 7px; padding-top: 2px;
      color: $navbar-default-link-color;
    }
    .svg-icon { width: 1.7em; height: 1.7em; display: block; margin-left: 0.5em; }
  }
  &.btn-inverse {
    background-color: white; border: 1px solid $turqoise;
    color: $turqoise;
    &:hover, &:focus, &:active, &.active {
      background-color: $turqoise; color: white;
    }
  }
}


.navbar-fixed-bottom {
  .btn-simple {
    color: #575d6b; padding-top: 5px; padding-bottom: 20px;
    font-size: 16px; padding-left: 2em; padding-right: 2em;
    &:hover { border-top: 2px solid $ucla-gold;  }
    &.active{ background-color: $ucla-gold; color: white; }
    &.btn-icon {
      padding-top: 15px; padding-bottom: 15px;
    }
  }
}
#mobile-navbar {
  .btn-simple {
    &:hover { border-bottom: 2px solid $turqoise; color: $turqoise; }
    &.active{
      border-bottom: 2px solid $brand-success; color: $brand-success;
    }
  }
}

@media ( max-width: 768px ) {
  #mobile-navbar {
    .btn-simple {
      padding-left: 7px; padding-right: 7px;
    }
  }
}

/*********************************************************************
  Name:   Push - Bootstrap Button Pack
  Author:   BootstrapBay - (http://www.bootstrapbay.com/)
  Version:  1.0

*********************************************************************/

/******************************************************
  CUSTOM BTN VALUES
******************************************************/

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

/******************************************************
  STANDARD BUTTONS
******************************************************/

.btn-default {
  /*border: 2px solid #C4C4C4;*/
  /*color: #737373;*/
  padding: 12px 22px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
/*  background: #FFFFFF;
  border-color: #949494;
  color: #737373;*/
}
.btn-default:active, .btn-default.active {
  border-color: #737373;
  box-shadow: none;
}
.btn-primary {
  background: $turqoise;
  color: white; border:1px solid $turqoise;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: white; color: $turqoise;
  border-color: $turqoise;
}
.btn-primary:active, .btn-primary.active {
  background: $turqoise;
  box-shadow: none;
}
.btn-success {
  background: $imperial-blue;
  color: #ffffff;
}
.btn-success:active, .btn-success.active,
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: $imperial-blue; border: $imperial-blue;
  background: white;
}
/*.btn-success:active, .btn-success.active {
  background: #008c52;
  box-shadow: none;
}*/
.btn-info {
  background: $ucla-gold;
  color: #ffffff;
}
.btn-info:active, .btn-info.active,
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
  background: white;
  color: $ucla-gold; border-color: $ucla-gold;
}
/*.btn-info:active, .btn-info.active {
  background: #35a2b5;
  box-shadow: none;
}*/
.btn-warning {
  background: #eb8f34;
  color: #ffffff;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
  background: #eba259;
}
.btn-warning:active, .btn-warning.active {
  background: #b87430;
  box-shadow: none;
}
.btn-danger {
  background: #f25454;
  color: #ffffff;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  background: #f26d6d;
}
.btn-danger:active, .btn-danger.active {
  background: #bf4343;
  box-shadow: none;
}

/******************************************************
  SHARP BUTTONS
******************************************************/

.btn.sharp {
  border-radius: 0;
}

/******************************************************
  OUTLINE BUTTONS
******************************************************/
.btn.outline {
  background: none;
  padding: 12px 22px;
}
.btn-primary.outline {
  border: 2px solid $turqoise;
  color: $turqoise;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #33a6cc;
  border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}
.btn-success.outline {
  border: 2px solid $imperial-blue;
  color: $imperial-blue;
}
.btn-success.outline:hover, .btn-success.outline:focus, .btn-success.outline:active, .btn-success.outline.active, .open > .dropdown-toggle.btn-success {
  border-color: #39bf87;
  color: #39bf87;
}
.btn-success.outline:active, .btn-success.outline.active {
  border-color: #008c52;
  color: #008c52;
  box-shadow: none;
}
.btn-info.outline {
  border: 2px solid $ucla-gold;
  color: $ucla-gold;
}
.btn-info.outline:hover, .btn-info.outline:focus, .btn-info.outline:active, .btn-info.outline.active, .open > .dropdown-toggle.btn-info {
  border-color: #5fd4e8;
  color: #5fd4e8;
}
.btn-info.outline:active, .btn-info.outline.active {
  border-color: #35a2b5;
  color: #35a2b5;
  box-shadow: none;
}
.btn-warning.outline {
  border: 2px solid #eb8f34;
  color: #eb8f34;
}
.btn-warning.outline:hover, .btn-warning.outline:focus, .btn-warning.outline:active, .btn-warning.outline.active, .open > .dropdown-toggle.btn-warning {
  border-color: #eba259;
  color: #eba259;
}
.btn-warning.outline:active, .btn-warning.outline.active {
  border-color: #b87430;
  color: #b87430;
  box-shadow: none;
}
.btn-danger.outline {
  border: 2px solid #f25454;
  color: #f25454;
}
.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
  border-color: #f26d6d;
  color: #f26d6d;
}
.btn-danger.outline:active, .btn-danger.outline.active {
  border-color: #bf4343;
  color: #bf4343;
  box-shadow: none;
}


/******************************************************
  ROUNDED BUTTONS
******************************************************/

.btn.round {
  border-radius: 24px;
}
.btn-lg.round {
  border-radius: 32px;
}
.btn-sm.round {
  border-radius: 14px;
}
.btn-xs.round {
  border-radius: 10px;
}


/******************************************************
  BUTTON SIZING
******************************************************/

.btn-xs, .btn-group-xs > .btn {
  padding: 2px 6px;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 8px 12px;
}
.btn-lg {
  padding: 20px 40px;
  border-radius: 4px;
}
.btn-xs.btn-default, .btn-xs.outline {
  padding: 0px 4px;
}
.btn-sm.btn-default, .btn-sm.outline {
  padding: 6px 10px;
}
.btn-lg.btn-default, .btn-lg.outline {
  padding: 18px 38px;
}
