.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  box-sizing: border-box;
  border-radius: 2px;
  background-color: white;
  background-clip: padding-box;
  &.thredded--post {
    border-left: 6px solid $turqoise;
    padding: 20px 10px 10px 20px; margin-bottom: 15px;
    .thredded--post--created-at {
      margin-bottom: 5px;
    }
    .post-footer { margin-top: 1.5em; padding-top: 0.5em; margin-bottom: 0; }
    header { border-bottom: 1px solid $brand-border; margin-bottom: 10px; }
  }
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  h1, h2, h3, h4, h5 { margin-top: 0px;  }
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}


/*Home profile card*/
.profile {
  min-height: 325px;
  display: inline-block;
  background-color: white;
  padding: 0;
  figure img { width: 125px; height: 125px; margin-top: 2.5em; }
  #user-details { padding: 15px;  }
  .divider { border-top:1px solid rgba(0,0,0,0.1); }
  #user-stats { padding-bottom: 10px; }
  .emphasis {
    border-top: 4px solid transparent; padding-top: 15px;
    &:hover { border-top: 4px solid $turqoise; }
    h2 {margin-bottom:0; }
  }
}

.profile-usertitle-detail {
  margin-bottom: 15px;
  h2 { margin-top: 0.5em; margin-bottom: 0.2em; }
  h5 {  color: grey; margin-top: 5px; }
}
.profile-usertitle-detail span {
  text-align: left;
  color: grey;
  font-size: 0.9em;
  /*span { margin-right: 2.5em; }*/
  svg {
    margin-right: 5px;
    width: 1.5em; height: 1.5em;
  }
}

.user-feed h4 {
  color: $dark-gunmetal;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 3px solid $brand-border;
}


@media ( max-width: 768px ) {

}
