// FAQ style
.fh5co-faq h2 { margin-bottom: 2.5em; }
.fh5co-faq .box-faq {
  margin-bottom: 2em;
}

html { font-size: $font-size-base; }
/* Main format */

div.clear { margin-top: 2em; }

/* Copy styling */
h1, h2, h3 { font-weight: $font-weight-base; }
h1, h2, h3, h4, h5 { color: rgba(0,0,0,.8); }
p { font-weight: $font-weight-base; color: rgba(0,0,0,.8); }


h1.highlight {
  letter-spacing: 0.06em;
}
.highlight {
    background-color: $turqoise;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    box-shadow: 0.5em 0 0 $turqoise, 0.2em 0 0 $turqoise;
    padding: .15em .2em;
    margin-bottom: 20px; margin-top: 10px;
}

.headline {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

section.letter-style {
  padding-top: 50px;
}
.letter-style p {
  font-size: 14px;
  line-height: 2em;
  margin-bottom: 1.5em;
  color: #000000;
}
