.blank-slate-pf {
  padding: 90px 120px;
}

.blank-slate-pf {
  border-radius: 1px;
  margin-bottom: 20px;
  padding: 30px;
  text-align: center;
}
.blank-slate-pf h1, p { color: #8d8d8d; }
.blank-slate-pf .blank-slate-pf-icon {
    color: #9c9c9c;
    font-size: 57.6px;
    line-height: 57.6px;
} 
.blank-slate-pf .blank-slate-pf-main-action, .blank-slate-pf .blank-slate-pf-secondary-action {
    margin-top: 20px;
}