@media (max-width: 991px) {
  .error-page {
    width: 100%;
  }
}
.error-page .error-content h3 {
  font-size: 41px;
  font-weight: 700;
}
.error-page .error-content .error-number {
  font-size: 81px;
  color: $turqoise;
}
@media (max-width: 991px) {
  .error-page > .headline {
    float: none;
    text-align: center;
  }
}
.error-page > .error-content {
  margin-left: 190px;
  display: block;
}
@media (max-width: 400px) {
  .error-page > .error-content {
    margin-left: 0;
  }
}
.error-page > .error-content > h3 {
  font-size: 41px;
}
@media (max-width: 991px) {
  .error-page > .error-content > h3 {
    text-align: center;
  }
}
