
/*layout*/
body.mobile-navbar-body { margin-top: 50px; position: relative; }
#page-wrap { margin-top: 50px; }

body, html {
  background-color: white; }
#mobile-navbar {
  .navbar-brand  {
    img { width: 125px; height: 25px; }
  }
}
.narrow-nav {
  .container { max-width: $default-layout-size; }
}

.navbar-fixed-top { border-width: 0 0 2px; }
.navbar-fixed-bottom {
  border-width: 2px 0 0; border-top: 1px solid $brand-border;
}

#limiter {
  max-width: 768px;
  margin: 2rem auto;
  margin-top: 4em;
}

#first-container {
  margin-bottom: 10px;
  .header-overlay {

  }
  .cover-heading {
    .separator {
      width: 25px;
      border-bottom: 3px solid $ucla-gold;
      margin: 10px auto;
    }
    text-align: center;
    h2 { margin-top: 1em; margin-bottom: 11px; color: $imperial-blue; }
  }
}

@media only screen and (min-width:768px) {
 .header-overlay {
    height: 256px;
    background: url("//res.cloudinary.com/instilla/image/upload/c_scale,w_800/v1474789802/landing_page_header_k8ykkr.svg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .cover-heading {
    p {
      line-height: 1.75em; word-spacing: 2px;
      padding-left: 1em; padding-right: 1em; font-size: 15px;
    }
  }
}

pre { tab-size: 8; }

#navbar-spaced {  margin-top: 50px; }
div.row.upper-spacing {
  margin-top: 20px; margin-bottom: 20px; padding-bottom: 10px;
}
.navbar-fixed-bottom { height: 60px; }
#bottom-header {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}



/* Navs */
.side-collapse-container{ margin-top: 50px; }

.navbar-login {
  width: 305px;
  padding: 10px;padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px; padding-top: 0px;
}
.navbar-inverse .navbar-toggle{ margin-top: 5px;  }

.icon-size {
  font-size: 87px;
}
.nav-sidebar {
  width: 100%;
  padding: 8px 0;
  border-right: 1px solid #ddd;
  a {
    color: grey;
    letter-spacing: 0.3em;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  .active a {
    cursor: pointer;
    background-color: red;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
    &:hover {
      background-color: grey;
    }
  }
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}


/* Admin layout */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $dark-gunmetal;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 35px 10px 35px 10px;
  .floating-alert { margin-top: 0px; }
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 75px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
  text-indent: 20px; line-height: 40px;
  &.sidebar-brand {
    margin-bottom: 20px;
    a { color: white; font-weight: 700; font-size: 2em; }
  }
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    &.active {
      text-decoration: none;
      color: #fff;
      background: $ucla-gold;
      font-weight: 700;
    }
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

header.main {
    left: 250px;
    right: 0;
    height: 90px;
    background: #fff;
    box-shadow: 0 0px 15px -2px rgba(0,0,0,0.2);
    padding: 45px 35px 25px 35px;
    margin-top: 25px;
    z-index: 1;
}
header.main p.buttons {
    float: right;
}
header.main h2 {
    margin-top: 0px;
    font-size: 1.5em;
    font-weight: 300;
    color: #333;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 0 5px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
  body.mobile-navbar-body { margin-top: 50px;  }
  .side-collapse-container{
      margin-top: 10px;
      width:100%;
      position:relative;
      left:0;
      transition:left .4s;
  }
  .side-collapse-container.out{
      left:200px;
  }
  .side-collapse {
      top:70px;
      bottom:0;
      left:0;
      width:200px;
      position:fixed;
      overflow:hidden;
      transition:width .4s;
  }
  .side-collapse.in { width:0; }
  .main-content { padding-left: 0px; padding-right: 0px; margin-top: 12px; }
  header.main {
    position: fixed;
    left: 0; right: 0;
    height: 60px; padding: 15px;
    background: #fff;
    box-shadow: 0 0px 15px -2px rgba(0,0,0,0.2);
    z-index: 1;
    p.buttons {
      font-size: 14px;
      a {  margin-right: 7px; }
    }
    h2 {
        font-size: 1.4em;
        font-weight: 300;
        color: #333;
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: 0 5px;
        font-weight: 600;
    }
  }

}


/*dropdown*/
.dropdown-menu {
  padding-top: 0px; padding-bottom: 0px;
  li a { padding: 10px 20px; color: $brand-grey;
  }
}


@media screen and (max-width: 768px) {
  .dropdown-menu { left: -100px; }
  div.row.upper-spacing {
    margin-top: 0px;
  }
  #page-content-wrapper {
    padding-top: 5em;
  }
}

@media only screen and (max-width : 480px) {
  .header-overlay {
    height: 250px;
    background: url("http://res.cloudinary.com/instilla/image/upload/s--VPdE6xoY--/c_crop,h_250,w_400/v1474788906/landing_page_header_small_epgg8m.svg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #first-container .cover-heading p  {
    font-size: 13px;
  }
}
