/* Landing Cover */
.site-wrapper {
  display: table;
  width: 100%;
  height: 75%; /* For at least Firefox */
  min-height: 70%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  .cover-container { margin-right: auto; margin-left: auto; }
  /** Cover */
  .cover {
    padding: 80px 20px; margin: 0 auto 0 auto;
    max-width: 768px;
    .cover-heading {
      line-height: 140%; color: white;
      padding: 0 .2em;
      margin-top: 11px;
      font-weight: 300;
    }
    p.lead {
      line-height: 1.6; color: white; font-weight: 500;
    }
  }
  &.smaller {
    height: 40%; /* For at least Firefox */
    min-height: 35%;
  }
  &#about-us {
    /*background-color: $dark-gunmetal;*/
    background: rgba(42, 54, 59, 0.9);
  }
  &#blog {
    /*background-color: $dark-gunmetal;*/
    background:
     linear-gradient(
        rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65)
      ),
      url('//res.cloudinary.com/instilla/image/upload/s--vjCD1p1u--/c_fill,w_1600/v1480847243/asset/glyphsco-1459080062.jpg') no-repeat center center scroll;
  }
  &#article--header {
    text-align: left;
    h2 { margin-top: 0.5em; }
    h2, h4, h5 { font-family: $font-family-raleway; }
  }
}
@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner { display: table-cell; vertical-align: middle; }
  /* Handle the widths */
  .masthead, .mastfoot, .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .site-wrapper {
    margin-top: 50px;
    .cover-heading { font-size: 60px; }
  }
}
@media (max-width: 460px) {
  .cover {
    padding-top: 40px; text-align: center;
  }
  .site-wrapper {
    background:
    linear-gradient(
        rgba(0, 243, 255, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
    url('//res.cloudinary.com/instilla/image/upload/c_scale,q_60,w_500/v1475459177/asset/photo-1437846972679-9e6e537be46e.jpg') no-repeat center center scroll;
  }
  .site-wrapper-inner {
    display: table-cell; vertical-align: top;
  }
}
li.illustrated-point {
  list-style: none; margin-top: 4em;
  .illustrated-point-description h5, .illustrated-point .illustrated-point-description h6, .illustrated-point .illustrated-point-description p, {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 300; color: $dark-gunmetal;
  }
  img {
      height: 80px;
      width: 80px;
      margin: 0 auto 1em;
  }
  h4 {
    font-weight: 700; color: $dark-gunmetal; margin-top: 0.5em;
  }
  svg.svg-icon {
    width: 3em; height: 3em;
  }
}
/*END Landing Cover */

/* Footer */
.fh5co-footer-style-1,
.fh5co-footer-style-2,
.fh5co-footer-style-3 {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .fh5co-footer-style-1,
  .fh5co-footer-style-2,
  .fh5co-footer-style-3 {
    padding: 3em 0;
  }
}
.fh5co-footer-style-2 {
  background: #232939;
}
.fh5co-footer-style-2 .fh5co-logo {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0px;
}
@media screen and (max-width: 480px) {
  .fh5co-footer-style-2 .fh5co-logo {
    text-align: center;
  }
}
.fh5co-footer-style-2 .fh5co-logo > span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 768px) {
  .fh5co-footer-style-2 .fh5co-logo > span {
    display: block;
  }
}
.fh5co-footer-style-2 a {
  color: rgba(255, 255, 255, 0.5);
}
.fh5co-footer-style-2 a:hover {
  color: white;
}
.fh5co-footer-style-2 .footer-style-2-link {
  text-align: right;
  &.social-links {
    text-align: center;
  }
}
.fh5co-footer-style-2 .footer-style-2-link > a {
  display: none;
}
@media screen and (max-width: 992px) {
  .fh5co-footer-style-2 .footer-style-2-link {
    text-align: left;
  }
}
.fh5co-footer-style-2 .footer-style-2-link ul {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .fh5co-footer-style-2 .footer-style-2-link ul {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-footer-style-2 .footer-style-2-link ul {
    margin-bottom: 20px;
  }
}
.fh5co-footer-style-2 .footer-style-2-link ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
@media screen and (max-width: 480px) {
  .fh5co-footer-style-2 .footer-style-2-link ul li {
    display: block;
  }
}
.fh5co-footer-style-2 .footer-style-2-link ul li a {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 480px) {
  .fh5co-footer-style-2 .footer-style-2-link ul li a {
    padding: 4px 0;
    display: block;
  }
}
.fh5co-footer-style-2 .footer-style-2-link ul li a:hover {
  color: white;
}


/* Static Fixed Full Page */
.static-centered {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Static Pages*/
.container-top {
  height:460px;
  min-height:460px;
  color:#fff;
  padding-top: 120px;
}
.overlay {
  height: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


/* Sections */
.section {
  min-height:430px;
  padding-top:100px;
  padding-bottom:100px;
}

section.padded {
  padding: 4rem 0 3rem 0;
}
section.intro {
  min-height: 400px;
}
section.explaining-kapiten {
  h2.prose { color: $imperial-blue; }
  .spacing { margin-top: 6em; }
  .row-bottom-padded { padding-bottom: 4em;  }
}
.row-bottom-padded {
    padding-bottom: 1em;
}
