/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon {
  width: 1em; height: 1em;
  path, polygon, rect {
    fill: #4691f6;
  }
  circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
  .big {  width: 10em; height: 10em; }
}

.svg-md-icon {
  width: 10em; height: 10em;
  path, polygon, rect { fill: #4691f6; }
  circle { stroke: #4691f6; stroke-width: 1; }
}
.btn-social svg {
  width: 2em; height: 2em;
  path, polygon, rect {
    fill: white;
  }
  circle {
    stroke: white;
    stroke-width: 1;
  }
}

.social-links .svg-icon {
  width: 3em; height: 3em;
  path, polygon, rect { fill: #fff; }
}
/* SVG ends */
