<div id="root" style="width: 320px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px; box-sizing: border-box;">
    embedded area
</div>
<script src="https://cdn.auth0.com/js/lock/10.4/lock.min.js"></script>
<script>
  var lock = new Auth0Lock('zs1TTCdFUBHjr1O0EROseko4uwbJpIMT', 'kapiten.au.auth0.com', {
    container: 'root',
    auth: {
      redirectUrl: <%= ENV["AUTH0_CALLBACK_URL"] %>,
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
  lock.show();
</script>
