<%
  set_meta_tags title: 'Tentang Kami'
%>

<div class="site-wrapper smaller" id="about-us">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="cover centered">
        <h1 class="cover-heading">Tentang Kapiten</h1>
        <div class="spacing"></div>
      </div>
    </div>
  </div>
</div>
<section class="section letter-style">
	<div class="container">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
	    <p>
	    	Assalammualaikum Warahmatullahi Wabarakatuh.
	    </p>
	    <p>
	    	Konsep riba dalam ajaran Islam adalah konsep terpenting sekaligus larangan terkeras yang ada dalam bagaimana Islam mengatur interaksi pemenuhan kebutuhan pemeluknya, atau muamalah. Perintah bagi umat muslim untuk menjauhi riba disebutkan dalam Al-Qur'an di 5 bagian dan 10 ayat secara keseluruhan. Di dalam Al-Baqarah ayat 279 (QS 2:279), Allah SWT bahkan menyatakan siapapun yang terlibat dalam riba akan diperangi oleh Allah dan Rasul Muhammad SAW. Rasulullah sendiri juga mengecam tindakan riba, disebutkan dalam hadist shahih yang diriwayatkan oleh Ibnu Majah dan Hakim, bahwa dosa riba mempunyai 70 tingkatan, dan yang paling ringan dosanya adalah sama dengan melakukan zinah dengan ibu kita sendiri.
	    </p>
	    <p>
				Dengan sejumlah peringatan dan kecaman keras dari Allah dan Rasulullah SAW, seharusnya kita sebagai umat Islam tidak perlu berpikir dalam menjauhi riba. Namun saat ini praktik riba telah merayap ke semua sudut kehidupan, hingga mereka yang tidak melakukan praktik riba secara langsung pun pasti terkena imbasnya. Dan yang lebih menyedihkan adalah umat Islam sendiri telah menganggap bahwa riba di zaman modern ini tidak lagi dilarang dan terlibat dalam riba adalah suatu yang wajar, entah itu disebabkan kebodohan atau kesombongan mereka.
	    </p>
	    <p>
	    	Kami memulai Kapiten karena kami ingin turut serta dalam perjuangan melawan riba dengan menyebarkan dan menerapkan ilmu muamalah yang telah kami pelajari. Kami ingin membuktikan bahwa menghindari riba adalah sesuatu yang wajib dan dapat dilakukan. Selain larangan dan kecaman, Al-Qur'an dan Hadist Rasulullah SAW telah memberikan beberapa tuntunan atas bagaimana umat muslim dapat menghindari riba tanpa menghalangi kita memenuhi kebutuhan dalam kehidupan sehari-hari. Larangan atas riba, gharar, maysir, dan qimar dikenakan oleh Allah SWT kepada umat muslim bukan untuk mempersulit kehidupan umatnya, melainkan untuk menghindari kita dari kesulitan-kesulitan yang bisa muncul dari praktik-praktik haram tersebut.
	    </p>
	    <p>
	    	Apabila kamu ada saran, pertanyaan, mohon jangan sungkan untuk melemparkan pertanyaan di Facebook Group Majlis Muamalah atau bisa hubungi saya melalui email di galih@sikapiten.com.
	    </p>
	    <p>Terima kasih, Assalammualaikum Warahmtullahi Wabarakatuh</p>

      <div class="letter-signature">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object dp img-circle" src="//res.cloudinary.com/instilla/image/upload/s--9oRU3w3q--/c_scale,w_75/v1450852964/asset/photos/imageedit_31_5849906895.jpg" style="width: 60px;height:80px;">
            </a>
            <div class="media-body">
                <h3 class="media-heading">Galih Muhammad</h3>
                <p><small><strong>Co-Founder & Team Leader</strong></small></p>
                <hr style="margin:8px auto">

                <span class="label label-info social-profile linkedin-link">
                  <a href="https://www.linkedin.com/in/galihmuhammad" target="_blank"> Linkedin</a>
                </span>
                <span class="label label-info social-profile facebook-link">
                  <a href="https://www.facebook.com/galih.muhammad.501" target="_blank"> Facebook</a>
                </span>
            </div>
        </div>
      </div>

    </div>
	</div>
</section>
<!-- Footer -->
<%= render partial: 'layouts/footer', locals: { page_root: 'Kapiten' } %>


<style media="screen">
.letter-signature .media
 {
     /*box-shadow:0px 0px 4px -2px #000;*/
     margin: 20px 0;
     padding:30px;
 }
  .letter-signature p { margin-top: 0; margin-bottom: 0;}
  .letter-signature h3 { margin-bottom: 0; font-weight: 300;}

.letter-signature .media .social-profile {
  margin-right: 5px;
}
.letter-signature .media .social-profile a {
  color: white;
}
.letter-signature .media .social-profile.facebook-link { background-color: #3b5998; }
</style>
