<%
  set_meta_tags title: 'Hubungi Kami'
%>

<div class="site-wrapper smaller" id="about-us">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="cover centered">
        <h1 class="cover-heading">Kontak Kami</h1>
        <div class="spacing"></div>
      </div>
    </div>
  </div>
</div>
<section class="section letter-style">
	<div class="container">
    <div class="col-md-8 col-md-offset-2 animate-box">
      <h3>Ada pertanyaan atau saran?</h3>

      <%= form_tag send_contact_email_path, method: 'post' do %>
    
        <div class="row form-group">
          <div class="col-md-6">
            <label for="name">Nama</label>
            <%= text_field_tag :name, '', class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <label for="email">Email</label>
            <%= text_field_tag :email, '', class: 'form-control' %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-12">
            <label for="subject">Judul</label>
            <%= text_field_tag :subject, '', placeholder: 'judul atau topik dari pesan ini', class: 'form-control' %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-12">
            <label for="message">Pesan</label>
            <%= text_area_tag :message, '', placeholder: "pesan yang ingin kamu sampaikan", rows: 10, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Kirim Pesan" class="btn btn-primary">
        </div>

      <% end %>
    </div>
	</div>
</section>
<!-- Footer -->
<%= render partial: 'layouts/footer', locals: { page_root: 'Kapiten' } %>
