<%= render layout: 'errors/error_style' do %>
  <h3 class="error-number" style="color: red;">Pembayaran Gagal</h3>
  <h5>Ada masalah dengan pembayaran yang baru saja kamu lakukan</h5>
  <p><small>Mohon ulangi pembayaranmu atau hubungi kami via live chat dengan menekan tombol "Butuh Bantuan?" di pojok kanan bawah atau via email dengan mengisi form <%= link_to 'di sini', page_path(id: 'contact') %></small></p>
<% end %>

<script src="https://embed.small.chat/T0VQQGKNYG59QDQ98S.js" async></script>