<%= render layout: 'error_style' do %>
	<h1 class="error-number">404</h1>
	<h3>Halaman yang kamu cari tidak ada</h3>
	<p>Kamu mungkin telah memasukkan alamat yang salah atau <br>halaman yang kamu cari telah dihapus atau dipindahkan</p>
<% end %>
