<%
  set_meta_tags title: "Admin Dashboard",
  noindex: true
%>
<h1>Admin <small>Dashboard</small></h1>

<h4><%= link_to 'Create Safina Invoice', admin_safina_prepare_invoice_path %></h4>
<h4><%= link_to 'Send Invoice For Card Reload', admin_safina_prepare_reload_payment_notif_path %></h4>
