<div id="authenticated-card" class="text-center" style="display: none;">
  <div class="jp-card-container" id="authenticated-info">
    <p><small><em>Kartu ini akan tertutup dengan sendirinya dalam 30 detik</em></small></p>
    <p><%= link_to 'Isi ulang kartu', '#', class: 'btn btn-sm btn-primary', id: 'reload-card-btn' %></p>
    <p>
      <span class="card-detail-key">CVC/Security Code</span>
      <span class="card-detail-value"> <%= @card.code %></span>
    </p>
    <p>
      <span class="card-detail-key">Terakhir dicek</span>
      <span class="card-detail-value"> <%= humanized_last_checked_at(@card.last_checked_at) %></span>
    </p>
    <p>
      <span class="card-detail-key">Saldo</span>
      <span class="card-detail-value"> <%= show_card_balance(@card) %></span>
    </p>
    <p>
      <span class="card-detail-key">Status</span>
      <span class="card-detail-value"> <%= show_card_status(@card.status) %></span>
    </p>
    <p>
      <span class="card-detail-key">Dibuat</span>
      <span class="card-detail-value"> <%= humanized_issued_at(@card.issued_at) %></span>
    </p>
  </div>

  <div id="reload-form" class="well" style="display:none;">
    <button type="button" id='close-reload-card-form' class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    
    <br>
    
    <p class="text-left"><small>Silahkan masukkan jumlah saldo USD yang kamu inginkan, minimal 25 USD</small></p>

    <%= form_tag safina_request_reload_card_path(card: params[:card]), remote: true, method: 'post', class: 'custom-search-input', id: 'reload-card-form' do %>
      <div class="input-group col-md-12">
        <%= text_field_tag :amount, '', placeholder: 'gunakan koma sebagai desimal', class: 'form-control input-lg' %>
        <span class="input-group-btn">
          <%= button_tag(type: "submit", class: "btn btn-md btn-info") do %>
            <i class="glyphicon glyphicon-ok"></i>
          <% end %>
        </span>
      </div>
    <% end %><br>
    <span class="card-detail-value"><strong>Saldo saat ini:</strong> <%= show_card_balance(@card) %></span>
  </div>  
</div>