<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= id %>">
        <%= title %>
      </a>
    </h4>
  </div>
  <div id="<%= id %>" class="panel-collapse collapse in">
    <div class="panel-body">
      <%= raw answer %>
    </div>
  </div>
</div>
