<footer id="fh5co-footer" role="contentinfo">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-1"></div>
      <div class="col-md-7 col-sm-8 fh5co-widget" style="text-align: left;">
        <h3><%= App::Naming::CARD %> by Kapiten.</h3>
        <p><%= App::Description::CARD %></p>
        <p>
          <%= active_link_to "Telusuri #{App::Naming::BLOG} Kapiten", root_path, active: false %>
        </p>
      </div>
      <div class="col-md-3 col-sm-4">
        <ul class="fh5co-footer-links" style="text-align: right;color: grey;">
          <%= active_link_to 'Tanya-jawab', safina_knowledge_base_path, active: false, wrap_tag: :li %>
        	<%= active_link_to 'Tentang Kapiten', page_path(id: 'about'), active: false, wrap_tag: :li %>
					<%= active_link_to 'Hubungi Kami', page_path(id: 'contact'), active: false, wrap_tag: :li %>
          <%=
            #active_link_to 'Syarat dan Ketentuan', page_path(id: 'card_terms'), active: false, wrap_tag: :li 
          %>
          <li>
            <a href="https://www.facebook.com/kapitenmuamalah" target= "_blank">Majlis Muamalah</a>
          </li>
          <li>
            <a href="https://www.facebook.com/groups/majlis.muamalah" target= "_blank">Facebook Page</a>
          </li>
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; 2017 PT Kapiten Teknologi Indonesia</small>
        </p>
      </div>
    </div>

  </div>
</footer>
