<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div id="fh5co-logo">
          <%= link_to safina_root_path do %>
            <%= App::Naming::CARD %><span>.</span>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 text-center menu-1">
        <ul>
          <%= active_link_to 'Intro', safina_root_path, active: :exclusive, wrap_tag: :li %>
          <%= active_link_to 'Bantuan', safina_knowledge_base_path, active: :exclusive, wrap_tag: :li %>
          <%= active_link_to 'Pesan', safina_order_form_path, active: :exclusive, wrap_tag: :li %>
          <%= active_link_to 'Profil', page_path(id: 'about'), active: :exclusive, wrap_tag: :li %>
          <%= active_link_to 'Kontak', page_path(id: 'contact'), active: :exclusive, wrap_tag: :li %>
        </ul>
      </div>
    </div>

  </div>
</nav>
