    <div class="carousel slide" id="myCarousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-md-1"></div>
          <div class="col-lg-2 col-lg-offset-2 col-xs-4 col-md-3 col-sm-4">
            <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--KxpyETUe--/c_crop,h_150,w_300/v1491953699/asset/png/logo/steam-vector-logo-720x340.png" class="img-responsive"></a>
          </div>
        </div>
        <div class="item">
          <div class="col-lg-2 col-lg-offset-2 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--qYpZPZ2s--/c_fill,h_150,w_300/v1491952054/asset/png/logo/amazon-logo-preview.png"></a>
          </div>
        </div>
        <div class="item">
          <div class="col-lg-2 col-lg-offset-2 col-xs-4 col-md-3 col-sm-4">
            <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--sxqWPKZL--/c_fill,h_150,w_300/v1491952053/asset/png/logo/paypal-logo-preview.png"></a>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--kbA8vXwA--/c_crop,h_150,w_300/v1491953105/asset/png/logo/facebook-logo-vector-400x400.png" class="img-responsive"></a>
          </div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--O3ErrjgB--/c_scale,h_100,w_200/v1491953105/asset/png/logo/Humble-Bundle-logo-transparent.png" class="img-responsive"></a>
          </div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
            <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--x8QxXahz--/c_scale,w_300/v1491953869/asset/png/logo/heroku.png"></a>
          </div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
          <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--szSwoGsa--/c_fill,h_150,w_300/v1491953417/asset/png/logo/Google_Play_logo_1.png"></a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
          <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--C9K5wksi--/c_crop,h_150,w_300/v1491952053/asset/png/logo/linked_in.png" class="img-responsive"></a></div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>

<style type="text/css">
/*.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}  */
</style>
<script type="text/javascript">
  // $('#myCarousel').carousel({
  //   interval: 4000,
  //   cycle: true
  // });

  // $('.carousel .item').each(function(){
  //   var next = $(this).next();
  //   if (!next.length) {
  //     next = $(this).siblings(':first');
  //   }
  //   next.children(':first-child').clone().appendTo($(this));

  //   if (next.next().length>0) {
  //     next.next().children(':first-child').clone().appendTo($(this)).addClass('rightest');
  //   }
  //   else {
  //     $(this).siblings(':first').children(':first-child').clone().appendTo($(this));

  //   }
  // });  
</script>