<div id="unauthenticated-card" class="text-center">
  <p>
    <small>
      Untuk membuka tampilan kartu secara penuh, masukkan <strong>kode pos dan nomor telepon</strong> (tanpa spasi) yang kamu daftarkan di kotak di bawah ini.
    </small>
  </p>

  <%= form_tag safina_open_card_path(card: params[:card]), method: 'post', class: 'custom-search-input', id: 'card-lock-form' do %>
    <div class="input-group col-md-12">
      <%= password_field_tag :password, '', placeholder: 'Password: [kodepos][telp]', class: 'form-control input-lg', id: 'password-input' %>
      <%= hidden_field_tag 'cardUID', params[:card] %>
      <%= hidden_field_tag 'cardKey', @card_key %>
      <span class="input-group-btn">
        <%= button_tag(type: "submit", class: "btn btn-info btn-lg") do %>
          <i class="glyphicon glyphicon-log-in"></i>
        <% end %>
      </span>
    </div>
  <% end %>
</div>
