<% content_for :head do %>
  <html itemscope itemtype="http://schema.org/Product">
  <meta name="keywords" content="<%= @keywords %>">

  <meta itemprop="name" content="<%= App::Title::CARD %>">
  <meta itemprop="description" content="<%= App::Description::CARD %>">
  <meta itemprop="image" content="<%= App::Source::CARD_IMAGE %>">
  <meta itemprop="url" content="<%= safina_root_url %>">

  <meta property="fb:app_id" content="<%= ENV["FB_APP_ID"] %>" />
<% end %>
<%
  set_meta_tags og: {
    image: App::Source::CARD_IMAGE,
    site_name: App::Title::CARD + ' | ' + ENV["SITE_NAME"],
    title: :title,
    description: App::Description::CARD,
    type: 'product.item',
    locale: 'id_ID',
    url: safina_root_url
  }
%>
<%
  set_meta_tags title: App::Title::CARD,
  description: App::Description::CARD
%>

<header id="fh5co-header" class="fh5co-cover" role="banner">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <h1 class="mb30">Knowledge Base</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>



<div id="fh5co-blog" class="fh5co-bg-section">
  <div class="container">
    <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Beragam pertanyaan yang ada di benakmu dan jawaban kami</span>
        <h2>Tanya-Jawab</h2>
      </div>
    </div>
    <div class="row">
      <div class="panel-group" id="accordion">
        <div class="faqHeader">Pertanyaan Umum</div>
        <%=
          render partial: 'faq_items', locals: {
            id: '#faq_1',
            title: 'Apa yang dimaksud dengan kartu Safina?',
            answer: 'Kartu Safina adalah kartu Visa prabayar yang berbentuk virtual, dengan kata lain tidak ada bentuk fisiknya. Kartu Safina memiliki karakteristik seperti kartu kredit Visa seperti nomor, tanggal kadaluwarsa, nama pemilik, dan security number.'
          }
        %>
        <%=
          render partial: 'faq_items', locals: {
            id: '#faq_2',
            title: 'Dapat dipakai dimana?',
            answer: 'Kartu Safina dapat digunakan di berbagai situs online internasional, baik untuk pembelian atau pembayaran subscription. Tetapi kartu Safina tidak dapat digunakan untuk belanja di situs lokal, seperti Tokopedia dan Lazada, sebagai kartu kredit.'
          }
        %>
        <%=
          render partial: 'faq_items', locals: {
            id: '#faq_3',
            title: 'Bagaimana jika situs online yang saya akan lakukan pembayaran menolak kartu Safina?',
            answer: 'Untuk kasus langka seperti ini, kami menyarankan untuk kamu membuat akun Paypal dan menghubungkannya dengan kartu Safinamu. Ini akan membuat kamu dapat membayar tagihan situs tersebut menggunakan Paypal, yang menggunakan saldo kartu Safina.'
          }
        %>

        <%=
          render partial: 'faq_items', locals: {
            id: '#faq_4',
            title: 'Saya tidak mau repot membuat akun paypal, saya lebih memilih untuk refund.',
            answer: 'Tentu saja, refund untuk kartu Safina dapat dilakukan selama belum melewati 10 hari dari tanggal pembelian dan saldo kartu masih belum digunakan sama sekali.'
          }
        %>
        <%=
          render partial: 'faq_items', locals: {
            id: '#faq_5',
            title: 'Bagaimana cara saya membayar?',
            answer: "Pembayaran dapat dilakukan dengan transfer bank. Ketika kartu yang dipesan sudah siap, kamu akan mendapatkan email yang mengarahkan kamu ke halaman pembayaran yang memberi tahu nomor rekening tujuan transfer."
          }
        %>
        <%=
          render partial: 'faq_items', locals: {
            id: '#faq_5',
            title: 'Adakah biaya dari menggunakan kartu Safina?',
            answer: "Ada biaya 1 USD per bulan yang dikenakan oleh issuer dari kartu Visa prabayar yang menjadi basis kartu Safina. 1 USD ini per bulannya akan ditarik dari saldo kartumu. Apabila kartu memiliki saldo negatif selama 3 bulan berturut-turut, kartu akan dibatalkan secara otomatis."
          }
        %>
        <%=
          render partial: 'faq_items', locals: {
            id: '#faq_6',
            title: 'Apakah saya perlu menyerahkan dokumen identitas?',
            answer: "Selama total akumulasi penggunaan kartumu di bawah 1000 USD, kamu tidak akan diminta untuk menyerahkan dokumen apapun. Namun ketika kamu telah membelanjakan total 1000 USD dengan kartu tersebut, maka hasil scan/foto identitas diri, dapat berupa KTP atau Passport, dan hasil scan bukti domisili, seperti rekening koran atau tagihan telepon dengan namamu, wajib diserahkan."
          }
        %>                
        <%=
          render partial: 'faq_items', locals: {
            id: '#faq_7',
            title: 'Saya menghindari memiliki kartu kredit karena itu melanggar syariah Islam. Apa ini sesuai dengan syariah?',
            answer: "Insya Allah, kami berusaha dengan keras dalam menstruktur transaksi dan akad yang digunakan agar dapat mencapai hal tersebut. Bagi kamu yang ingin tahu penjelasan lebih dalam mengenai aspek akad kartu Safina, silahkan klik link <a href='/safina/aqad'>ini</a>."
          }
        %>
      </div>
    </div>
  </div>
</div>


<div id="fh5co-started">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Sudah siap untuk memesan?</span>
        <h2>Kartu <%= App::Naming::CARD %></h2>

        <p>
  <%=
            link_to 'Ke Halaman Pemesanan',
                    safina_order_form_path,
                    class: 'btn btn-primary'
          %>
        </p>
      </div>
    </div>
  </div>
</div>
