<% content_for :head do %>
  <html itemscope itemtype="http://schema.org/Product">
  <meta name="keywords" content="<%= @keywords %>">

  <meta itemprop="name" content="<%= @title %>">
  <meta itemprop="description" content="<%= App::Description::CARD %>">
  <meta itemprop="image" content="<%= App::Source::CARD_IMAGE %>">
  <meta itemprop="url" content="<%= safina_root_url %>">

  <meta property="fb:app_id" content="<%= ENV["FB_APP_ID"] %>" />
<% end %>
<%
  set_meta_tags og: {
    image: App::Source::CARD_IMAGE,
    site_name: App::Title::CARD + ' | ' + ENV["SITE_NAME"],
    title: :title,
    description: App::Description::CARD,
    type: 'product.item',
    locale: 'id_ID',
    url: safina_root_url
  }
%>
<%
  set_meta_tags title: @title,
  description: App::Description::CARD
%>

<header id="fh5co-header" class="fh5co-cover" role="banner">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <h1 class="mb30">Pengganti kartu kredit untuk <br>transaksi online</h1>
            <p class="mb30">
              Belanja dan membayar tagihan di situs-situs internasional<br> dengan kartu Safina
            </p>
            <p>
              <%=
                link_to 'Pesan Kartu',
                        safina_order_form_path,
                        class: 'btn btn-primary'
              %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="fh5co-services" class="fh5co-bg-section">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 text-center animate-box" data-animate-effect="fadeInUp">
        <div class="fh5co-heading">
          <span>Untuk beragam keperluanmu dan beragam situs</span>
          <h2>Manfaat</h2>
          <p>Umumnya, metode pembayaran yang diterima oleh situs-situs internasional adalah kartu kredit. Bagi kebanyakan orang, memiliki kartu kredit bukanlah pilihan karena beragam alasan. Kartu Visa Safina adalah solusi untuk kamu yang menghadapi masalah ini</p>
        </div>
      </div>
    </div>

    <div id="myCarousel" class="carousel fdi-Carousel slide">
      <!-- Carousel items -->
      <div class="carousel fdi-Carousel slide" id="eventCarousel">
        <div class="carousel-inner onebyone-carosel">
          <div class="item active">
            <div class="col-xs-4">
              <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--KxpyETUe--/c_crop,h_150,w_300/v1491953699/asset/png/logo/steam-vector-logo-720x340.png" class="img-responsive"></a>
            </div>
          </div>
              <div class="item">
                  <div class="col-xs-4">
                      <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--qYpZPZ2s--/c_fill,h_150,w_300/v1491952054/asset/png/logo/amazon-logo-preview.png"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="col-xs-4">
                      <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--sxqWPKZL--/c_fill,h_150,w_300/v1491952053/asset/png/logo/paypal-logo-preview.png"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="col-xs-4">
                      <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--kbA8vXwA--/c_crop,h_150,w_300/v1491953105/asset/png/logo/facebook-logo-vector-400x400.png" class="img-responsive"></a>
                  </div>
              </div>
              <div class="item">
                <div class="col-xs-4">
                  <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--O3ErrjgB--/c_scale,h_100,w_200/v1491953105/asset/png/logo/Humble-Bundle-logo-transparent.png" class="img-responsive"></a>
                </div>
              </div>
            <div class="item">
              <div class="col-xs-4">
                  <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--szSwoGsa--/c_fill,h_150,w_300/v1491953417/asset/png/logo/Google_Play_logo_1.png"></a>
              </div>
          </div>
          <div class="item">
              <div class="col-xs-4">
                  <a href="#"><img src="http://res.cloudinary.com/instilla/image/upload/s--C9K5wksi--/c_crop,h_150,w_300/v1491952053/asset/png/logo/linked_in.png" class="img-responsive"></a>
              </div>
          </div>
          </div>
          <a class="left carousel-control" href="#eventCarousel" data-slide="prev"></a>
          <a class="right carousel-control" href="#eventCarousel" data-slide="next"></a>
      </div>
      <!--/carousel-inner-->
    </div>

  </div>
</div>

<div id="fh5co-counter">
  <div class="container">

    <div class="row animate-box" data-animate-effect="fadeInUp">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Hanya Dalam 2 Langkah</span>
        <h2>Proses</h2>
        <p>untuk mendapatkan kemudahan dan keamanan dalam bertransaksi online secara internasional.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="feature-center animate-box" data-animate-effect="fadeInUp">
          <svg class="svg-icon" viewBox="0 0 20 20">
            <path d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
          </svg>

          <h3>Pesan Kartu</h3>
          <p>Mengisi formulir pemesanan kartu dengan tanpa dipungut biaya apapun atau bentuk perjanjian lainnya.</p><br>
          <p></p>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="feature-center animate-box" data-animate-effect="fadeInUp">

          <svg class="svg-icon" viewBox="0 0 20 20">
            <path d="M4.3,15.249H3.428c-0.241,0-0.436,0.195-0.436,0.436c0,0.241,0.195,0.437,0.436,0.437H4.3c0.241,0,0.436-0.195,0.436-0.437C4.736,15.444,4.541,15.249,4.3,15.249 M6.916,15.249H6.044c-0.241,0-0.436,0.195-0.436,0.436c0,0.241,0.195,0.437,0.436,0.437h0.872c0.241,0,0.436-0.195,0.436-0.437C7.352,15.444,7.157,15.249,6.916,15.249 M13.894,8.271h0.872c0.241,0,0.437-0.195,0.437-0.437c0-0.241-0.195-0.436-0.437-0.436h-0.872c-0.241,0-0.437,0.194-0.437,0.436C13.457,8.077,13.652,8.271,13.894,8.271 M4.3,7.399H3.428c-0.241,0-0.436,0.194-0.436,0.436c0,0.242,0.195,0.437,0.436,0.437H4.3c0.241,0,0.436-0.195,0.436-0.437C4.736,7.594,4.541,7.399,4.3,7.399 M15.638,11.324c-0.241,0-0.436,0.194-0.436,0.436s0.194,0.437,0.436,0.437s0.437-0.195,0.437-0.437S15.879,11.324,15.638,11.324 M14.766,15.249h-0.872c-0.241,0-0.437,0.195-0.437,0.436c0,0.241,0.195,0.437,0.437,0.437h0.872c0.241,0,0.437-0.195,0.437-0.437C15.202,15.444,15.007,15.249,14.766,15.249 M12.149,7.399h-0.872c-0.241,0-0.437,0.194-0.437,0.436c0,0.242,0.195,0.437,0.437,0.437h0.872c0.24,0,0.436-0.195,0.436-0.437C12.585,7.594,12.39,7.399,12.149,7.399 M17.818,9.144V5.655c0-0.939-0.745-1.7-1.676-1.737l-0.104-0.859L9.276,3.88L2.824,2.151l-0.471,1.76H2.119c-0.963,0-1.744,0.781-1.744,1.744v10.466c0,0.963,0.781,1.744,1.744,1.744h13.955c0.963,0,1.744-0.781,1.744-1.744v-1.744c0.963,0,1.744-0.781,1.744-1.745v-1.744C19.562,9.925,18.781,9.144,17.818,9.144 M16.946,5.655v0.242c-0.18-0.104-0.377-0.178-0.589-0.213L16.25,4.801C16.646,4.882,16.946,5.234,16.946,5.655 M15.277,4.029l0.184,1.507l-3.929-1.052L15.277,4.029z M3.44,3.219l9.09,2.436H2.788L3.44,3.219z M1.247,5.655c0-0.481,0.39-0.872,0.871-0.872l-0.24,0.896C1.65,5.711,1.438,5.786,1.247,5.897V5.655z M16.946,16.121c0,0.48-0.392,0.872-0.872,0.872H2.119c-0.482,0-0.872-0.392-0.872-0.872V7.399c0-0.481,0.39-0.872,0.872-0.872h13.955c0.48,0,0.872,0.391,0.872,0.872v1.744h-1.744c-0.964,0-1.745,0.781-1.745,1.744v1.744c0,0.964,0.781,1.745,1.745,1.745h1.744V16.121z M18.69,12.632c0,0.481-0.392,0.873-0.872,0.873h-2.616c-0.482,0-0.873-0.392-0.873-0.873v-1.744c0-0.481,0.391-0.872,0.873-0.872h2.616c0.48,0,0.872,0.391,0.872,0.872V12.632z M12.149,15.249h-0.872c-0.241,0-0.437,0.195-0.437,0.436c0,0.241,0.195,0.437,0.437,0.437h0.872c0.24,0,0.436-0.195,0.436-0.437C12.585,15.444,12.39,15.249,12.149,15.249 M9.533,15.249H8.661c-0.241,0-0.436,0.195-0.436,0.436c0,0.241,0.195,0.437,0.436,0.437h0.872c0.241,0,0.436-0.195,0.436-0.437C9.969,15.444,9.774,15.249,9.533,15.249 M6.916,7.399H6.044c-0.241,0-0.436,0.194-0.436,0.436c0,0.242,0.195,0.437,0.436,0.437h0.872c0.241,0,0.436-0.195,0.436-0.437C7.352,7.594,7.157,7.399,6.916,7.399 M9.533,7.399H8.661c-0.241,0-0.436,0.194-0.436,0.436c0,0.242,0.195,0.437,0.436,0.437h0.872c0.241,0,0.436-0.195,0.436-0.437C9.969,7.594,9.774,7.399,9.533,7.399"></path>
          </svg>
          <h3>Beli</h3>
          <p>Setelah kartu yang sesuai dengan spesifikasimu telah selesai diproses, lakukan pembayaran untuk mendapatkan akses atas kartu tersebut.</p><br>
          <p></p>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

<div id="fh5co-started">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Say goodbye to credit card</span>
        <h2>Bebas bertransaksi online tanpa hutang dan bunga</h2>
        <br>

        <div class='card-wrapper safina-landing-view-card-wrapper'></div>
        <form class="ui form safina-sample-card">
        </form>

        <br>
        <p>
          <%=
            link_to 'Ke Halaman Pemesanan',
                    safina_order_form_path,
                    class: 'btn btn-primary'
          %>
        </p>
        <p><small>atau jika ada pertanyaan, silahkan <a href="https://vimeo.com/channels/staffpicks/93951774" class="link-watch popup-vimeo secondary-link">Kontak Kami</a></small></p>
      </div>
    </div>
  </div>
</div>
