<% content_for :head do %>
  <html itemscope itemtype="http://schema.org/Product">
  <meta name="keywords" content="<%= @keywords %>">

  <meta itemprop="name" content="<%= App::Title::CARD %>">
  <meta itemprop="description" content="<%= App::Description::CARD %>">
  <meta itemprop="image" content="<%= App::Source::CARD_IMAGE %>">
  <meta itemprop="url" content="<%= safina_root_url %>">

  <meta property="fb:app_id" content="<%= ENV["FB_APP_ID"] %>" />
<% end %>
<%
  set_meta_tags og: {
    image: App::Source::CARD_IMAGE,
    site_name: App::Title::CARD + ' | ' + ENV["SITE_NAME"],
    title: :title,
    description: App::Description::CARD,
    type: 'product.item',
    locale: 'id_ID',
    url: safina_root_url
  }
%>
<%
  set_meta_tags title: App::Title::CARD,
  description: App::Description::CARD
%>

<header id="fh5co-header" class="fh5co-cover" role="banner">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <h1 class="mb30">Pemesanan Kartu Safina</h1>
            <p class="mb30"></p>
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
              <h5 class="white">Simulasi Harga Kartu</h5>
              <% if params[:usd_amount] %>
                <h3 class="white"><%= number_to_currency(@idr_amount, unit: "Rp ", delimiter: ".", precision: 0) %></h3>
                <p class="white mb30"><small>sudah termasuk fee sebesar 5 USD untuk Kapiten</small></p>
              <% end %>
              <%= form_tag safina_order_form_path, method: :get do %>
              <div class="input-group number-spinner">
                <span class="input-group-btn">
        					<button class="btn btn-default disabled" style="cursor:default;"><span class="glyphicon glyphicon-usd"></span></button>
        				</span>
                <%= text_field_tag 'usd_amount', params[:usd_amount] || '25', class: 'form-control text-center', style: 'background:white;' %>
        				<span class="input-group-btn">
        					<button class="btn btn-default full-width"><span class="glyphicon glyphicon-search"></span></button>
        				</span>
        			</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>



<div>
  <div class="container">
    <div class="row">
      <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
      <% if Rails.env.production? %>
        <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrhWSRxenPq5dpOk?backgroundColor=teal" frameborder="0" onmousewheel="" width="100%" height="2104.75" style="background: transparent; border: 1px solid #ccc;"></iframe>
      <% else %>
        <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shr4HvXw9DXOKuARF?backgroundColor=purple" frameborder="0" onmousewheel="" width="100%" height="1387.2" style="background: transparent; border: 1px solid #ccc;"></iframe>
      <% end %>
    </div>
  </div>
</div>


<div id="fh5co-started">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span></span>
        <h2>Masih ragu atau ada yang ingin ditanyakan?</h2>

        <p>
          <%= link_to "Hubungi Kami", page_path(id: 'contact'), class: 'btn btn-default' %>
        </p>
        <p><small>atau silahkan kunjungi <%= link_to "halaman Bantuan", safina_knowledge_base_path, class: 'secondary-link' %> kami</small></p>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .white { color: white; }
</style>
<script type="text/javascript">
</script>
