$('.loading').hide();

$('.flash_wrapper').html("<%= escape_javascript(render 'layouts/messages') %>");

<% if @success %>
  $('#reload-form').hide( 'slow' );
  $('#authenticated-info').show( 'slow' );
<% end %>