<% content_for :head do %>
  <html itemscope itemtype="http://schema.org/Product">
  <meta name="keywords" content="<%= @keywords %>">

  <meta itemprop="name" content="<%= App::Title::CARD %>">
  <meta itemprop="description" content="<%= App::Description::CARD %>">
  <meta itemprop="image" content="<%= App::Source::CARD_IMAGE %>">
  <meta itemprop="url" content="<%= safina_root_url %>">

  <meta property="fb:app_id" content="<%= ENV["FB_APP_ID"] %>" />
<% end %>
<%
  set_meta_tags og: {
    image: App::Source::CARD_IMAGE,
    site_name: App::Title::CARD + ' | ' + ENV["SITE_NAME"],
    title: :title,
    description: App::Description::CARD,
    type: 'product.item',
    locale: 'id_ID',
    url: safina_root_url
  }
%>
<%
  set_meta_tags title: App::Title::CARD,
  description: App::Description::CARD
%>

<header id="fh5co-header" class="fh5co-cover" role="banner">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <h1 class="mb30">Penjelasan Akad</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="fh5co-blog" class="fh5co-bg-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h2>Jual-beli Mata Uang</h2>
        <p>Akad yang digunakan dalam transaksi pembelian kartu Safina adalah pertukaran mata uang, yaitu <em>ba'i al-sarf</em>. Kamu mendapatkan US Dollar yang disetor di kartu virtual Visa prabayar dengan membayar menggunakan rupiah.</p>

        <p>Selain syarat sah jual-beli, ba'i al-sarf memiliki 2 persyaratan ekstra yang harus dipenuhi, yaitu:</p>
        <br>
        <div class="row animate-box" data-animate-effect="fadeInUp">
          <div class="col-md-6 fh5co-post">
            <h2 class="uppercase">Waktu Serah Terima</h2>
            <p>Serah terima harus dilakukan secara tunai, tidak boleh ada penyerahan salah satu barang yang terhutang. Majlis serah terima boleh berbeda, namun harus dilakukan secara tunai.</p>
          </div>
          <div class="col-md-6 fh5co-post">
            <h2 class="uppercase">Harga</h2>
            <p>Ada dua kondisi, dimana barang yang ditukar merupakan 1 <em>illat</em> (manfaat/fungsi) namun berbeda jenis, harga dapat berbeda, namun bila keduanya memiliki <em>illat</em> dan jenis yang sama, maka tidak boleh ada perbedaan harga.</p>
          </div>
        </div>
        <br>
        <p>
          Kapiten memberikan pembeli yang telah membayar informasi mengenai kartu tersebut sehingga kartu berisi USD tersebut bisa langsung digunakan. Dengan ini, transaksi terjadi secara tunai.</p>
        <p>
          USD dan rupiah adalah barang yang memiliki fungsi dan manfaat yang sama, namun berbeda jenis sehingga perbedaan harga boleh terjadi. 
        </p>
        <p>
          Baik pembelian maupun pengisian ulang kartu diterapkan dengan memenuhi syarat-syarat di atas demi memenuhi syarat sah <em>ba'i al-sarf</em>.
        </p>
      </div>
    </div>
  </div>
</div>


<div id="fh5co-started">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Sudah siap untuk memesan?</span>
        <h2>Kartu <%= App::Naming::CARD %></h2>

        <p>
          <%=
            link_to 'Ke Halaman Pemesanan',
                    safina_order_form_path,
                    class: 'btn btn-primary'
          %>
        </p>
      </div>
    </div>
  </div>
</div>
