<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="SE_GXuKS4WokTiQ1_kpgnruK1g8zDANghc1Qrz_mnpw" />
  <%= favicon_link_tag App::Source::ICON %>
  <%= display_meta_tags site: 'Kapiten', title: "Kartu Safina ##{@card.uuid}", reverse: true, icon: App::Source::ICON %>
  <% set_meta_tags nofollow: true, noindex: true  %>
  <!-- Theme style  -->
  <%= stylesheet_link_tag 'safina_card', media: 'all' %>
  <%= javascript_include_tag 'safina', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'safina_card', 'data-turbolinks-track' => true %>
  <!-- Modernizr JS -->
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <%= render 'layouts/heap_script' %>
  <%= csrf_meta_tag %>
  <%= Gon::Base.render_data %>
  <script src="https://embed.small.chat/T0VQQGKNYG59QDQ98S.js" async></script>

  <%= alertify_flash %>
</head>
<body id="view-card-page">
  <%= render 'layouts/classic_navbar' %>
  
  <div class="loading" style="display: none;">Loading&#8230;</div>

  <div id="limiter">
    <div id="first-container">
      <div class="flash_wrapper"></div>
    	<div class="row">

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="box">
              <div class="box-content">
                <h3 class="tag-title text-center">Kartu Safina #<%= @card.uuid %></h3>
                <hr />
                
                <div class='card-wrapper safina-view-card-wrapper'></div>
                <div class='card-wrapper safina-masked-card-wrapper'></div>

                <form class="ui form safina-view-card">
                </form>
                <br />

                <%= render 'unauthenticated_card' %>
                <%= render 'authenticated_card' %>
              </div>
            </div>
          </div>
        </div>
    	</div>

    </div>
  </div>
</body>
</html>
