@import "styles/mobile-navbar";
@import "styles/buttons";
@import "styles/new-landing";
@import "styles/error-page";
@import "styles/empty-states";
@import "styles/alert";
@import "styles/copy";
@import "styles/svg-styling";
@import "styles/blog";
@import "font-awesome";


/* Trix */
trix-editor { min-height: 154px; }
/*END TRIX*/


/*Helpers*/
.black { color: black; }
.dark { color: $dark-gunmetal; }
.white { color: white; }
.danger-link { color: #BE371F; }
.primary{ color: $brand-primary; &.strong { font-weight: 700; } }
.grey{ color: $brand-grey; }
.lggrey{ color: #DCDBDB; }
.white-background { background-color: white; }
.primary-background { background-color: $brand-primary; color: white; }

.centered {text-align: center;}
.goleft {text-align: left;}.goright {text-align: right;}

.mt {margin-top: 25px;} .mb {margin-bottom: 25px;}
.no-padding {padding: 0 !important; }
.no-side-padding { padding-left: 0px; padding-right: 0px; }
.no-margin { margin: 0 !important; }
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.img-center {margin: 0 auto;}
.pop-helper { cursor: pointer; font-size: 30px; margin-top: 10px;}
.center-xs {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.extra-bottom-margin { margin-bottom: 1em !important; }

/*Spacings*/
div.clear { clear: both; }
div.spacing { margin-top: 2em; display: block; }

/*Importan*/
html, body {
  width: 100%;
}

// TOS related stufs
#terms {
text-align: center; padding: 48px;
}
.tos-checkbox {
height: 16px; width: 16px
}
.tos-text { font-size: 16px; }
#terms .checkbox input[type="checkbox"] { margin-left: -30px; }

.fh5co-social-icons {
    margin: 0;
    padding: 0;
}
.fh5co-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
}
.fh5co-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    color: #0C9CEE;
    padding-left: 10px;
    padding-right: 10px;
}
.fh5co-social-icons li a i {
    font-size: 20px;
}

// FORM
.form-area {
  background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
}
