@import "railsbricks_custom";
@import "styles/mobile-navbar";
@import "styles/buttons";
@import "styles/spinner";
@import "alertify";
@import "alertify/default";
@import "alertify/bootstrap";

body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

.box {
  background:#fff;
  transition:all 0.2s ease;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
  .tag-title{
    color: lightslategrey;
  }
}

.box:hover {}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.box .box-content p {
  color:#515c66;
  text-transform:none;
}

// FORM
.custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

.custom-search-input input{
    border: 0;
    box-shadow: none;
}

.custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.custom-search-input .glyphicon-log-in{
    font-size: 23px;
}

/* Card styling injection */
.jp-card-container.height-adjusted { 
  height: 250px; width: 400px; 
}
.jp-card-shiny.margin-15p-btm { margin-bottom: 15px; }

/* Card info styling */
#authenticated-info.jp-card-container {
  height: 150px;
}
#authenticated-info .card-detail-key {
  font-weight: 700;
  margin-right: 10px;
}

#reload-card-btn { margin-bottom: 10px; }