<% title("Edit User Id: #{@user.id}") %>
<% content_for :main_actions do %>
  <%= link_to 'Ke Halaman Pengguna', user_path(@user) %>
<% end %>

<section class="intro padded bordered-section ">
  <div class="row">
    <div class="col-sm-12">
      <h1>User <small><%= "#{@user.name}" %></small></h1>
      <br>
    </div>
    <div class="spacing"></div>
    <div class="col-sm-6 col-md-4">
      <%= render_user_thumb(user_id: @user.id, style: 'img-circle circle-border m-b-md img-center') %>
    </div>
    <div class="col-sm-6 col-md-8">
      <h4>Edit Informasi Kunci</h4>
      <%= form_for [:admin, @user], :html => { :role => "form" } do |f| %>

        <div class="form-group">
          <%= f.label :email %>
          <div class="row">
            <div class="col-sm-12 col-md-10">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :username %>
          <div class="row">
            <div class="col-sm-12 col-md-10">
              <%= f.text_field :username, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :avatar %>
          <div class="row">
            <div class="col-sm-12 col-md-10">
              <%= f.text_field :avatar, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :avatar_source %>
          <div class="row">
            <div class="col-sm-12 col-md-10">
              <%= f.text_field :avatar_source, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :auth_with %>
          <div class="row">
            <div class="col-sm-12 col-md-10">
              <%= f.text_field :auth_with, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= f.submit "Update User", class: "btn btn-success" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</section>

<section class="intro padded bordered-section">

  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="inner-skeleton danger-zone">
      <h2>Danger Zone <br><small>Pertimbangkan dengan matang sebelum kamu menghapus akun ini</small></h2>
      <p></p>
      <p>
        <%= link_to admin_user_path(@user), method: :delete, data: {confirm: 'Kamu yakin mau melanjutkan?', object: 'Penghapusan pengguna'}, class: 'btn btn-danger btn-lg' do %>
            <span class="glyphicon glyphicon-trash reset-link"></span> Hapus Pengguna
        <% end %>
      </p>
    </div>
  </div>

</section>
