<% set_meta_tags title title: "Users Panel" %>

<% content_for :main_actions do %>
<% end %>


<div class="text-center">
  <%= form_tag admin_users_path, method: 'get', html: {role: "form"} do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
      <%= link_to "All", admin_users_path, {class: "btn btn-sm btn-link"} %>
    </p>
  <% end %>
</div>


<table class="table table-striped">
  <tr>
    <th>Email</th>
    <th>Admin</th>
    <th>Locked</th>
    <th>Sign up/in</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>

  <tr id="no-<%= user.id %>">
    <td><%= truncate(user.email, length: 25) %><br><%= link_to user.name, user_path(user) %></td>
    <td><%= user.admin? ? "<b>yes</b>".html_safe : "no" %></td>
    <td><%= user.locked? ? "<b>yes</b>".html_safe : "no" %></td>
    <td>
      Joined on <%= user.created_at.strftime("%-d/%m/%Y") %><br>
    </td>
    <td><%= link_to "Kelola", edit_admin_user_path(user) %><br>
      <%= link_to "Impersonate", impersonate_engine.impersonate_user_path(user) unless current_user?(user) %>
    </td>
  </tr>

  <% end %>

</table>

<div class="text-center">
  <p><%= page_entries_info @users %></p>
  <%= paginate @users %>
</div>
