<header class="navbar navbar-inverse navbar-fixed-top " role="banner">
  <div class="container">
    <div class="navbar-header pull-left">
      <button href="#menu-toggle" type="button" class="navbar-toggle pull-left" id="menu-toggle" style="margin-top: 12px; margin-left: 12px;">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a target="_blank" href="#" class="navbar-brand">Kapiten Back Office</a>
    </div>

    <div class="dropdown pull-right">
      <button class="btn btn-simple btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Hai, <%= current_user.name.titleize %>
      </button>
      <ul class="dropdown-menu">
        <li>
          <div class="navbar-login">
            <div class="row">
              <div class="col-lg-4">
                <p class="text-center">
                  <span class="glyphicon glyphicon-user icon-size"></span>
                </p>
              </div>
              <div class="col-lg-8">
                <p class="text-left"><strong><%= current_user.email %></strong></p>
                <p class="text-left">
                  <%= link_to 'Go To Main App', root_path, class: 'btn btn-primary btn-block btn-sm' %>
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <div class="navbar-login navbar-login-session">
            <div class="row">
              <div class="col-lg-12">
                <p>
                  <%= active_link_to 'Log out', auth_auth0_logout_path, data:{method: :delete}, class: 'btn btn-danger btn-block' %>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>

<div id="wrapper">

  <!-- Sidebar -->
  <%= render 'layouts/sidebar_wrapper' %>
  <!-- /#sidebar-wrapper -->

  <header class="main">
    <%= yield :main_actions %>
    <h2 class="products">
      <%= @page_title %> <%= render_breadcrumbs :separator => ' / ' %>
    </h2>
  </header>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <%= render 'layouts/messages' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" id="innermost">
          <h2><%= yield :menu_title %></h2>
          <%= yield  %>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>

<script type="text/javascript">
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});
</script>
