<script>
var lock = new Auth0Lock('<%= ENV['AUTH0_CLIENT_ID'] %>', '<%= ENV['AUTH0_CLIENT_DOM'] %>', {
  closable: true, autoclose: true,
  allowSignUp: false,
  initialScreen: 'login',
  theme: {
    logo: '//res.cloudinary.com/instilla/image/upload/s--1Q_ebjeN--/c_scale,h_56/v1471133824/kapiten-logo_u9kxv6.png',
    primaryColor: '#39D5FF',
    labeledSubmitButton: false
  },
  languageDictionary: {
    emailInputPlaceholder: "alamat email",
    forgotPasswordAction: "Lupa password kamu? ",
    loginLabel: "Log in",
    loginWithLabel: "Masuk dengan %s",
    passwordInputPlaceholder: "password milikmu",
    signUpLabel: "Registrasi",
    signUpWithLabel: "Registrasi dengan %s",
    title: "Autentikasi"
  },
  auth: {
    redirectUrl: '<%= ENV['AUTH0_CALLBACK_URL'] %>',
    responseType: 'code',
    params: {
      scope: 'openid email' // Learn about scopes: //auth0.com/docs/scopes
    }
  }
});

var signup_lock = new Auth0Lock('<%= ENV['AUTH0_CLIENT_ID'] %>', '<%= ENV['AUTH0_CLIENT_DOM'] %>', {
  closable: true, autoclose: true,
  allowLogin: false,
  additionalSignUpFields: [{
    name: 'name',
    placeholder: 'nama lengkapmu',
    icon: '//res.cloudinary.com/instilla/image/upload/s--_7ePm2Yr--/c_scale,w_12/v1474296650/avatar/profile-42914_640.png'
  }],
  theme: {
    logo: '//res.cloudinary.com/instilla/image/upload/s--1Q_ebjeN--/c_scale,h_56/v1471133824/kapiten-logo_u9kxv6.png',
    primaryColor: '#39D5FF',
    labeledSubmitButton: false
  },
  languageDictionary: {
    emailInputPlaceholder: "email address",
    passwordInputPlaceholder: "password milikmu",
    signUpLabel: "Registrasi",
    signUpWithLabel: "Registrasi dengan %s",
    title: "Pendaftaran"
  },
  auth: {
    redirectUrl: '<%= ENV['AUTH0_CALLBACK_URL'] %>',
    responseType: 'code',
    params: {
      scope: 'openid email' // Learn about scopes: //auth0.com/docs/scopes
    }
  }
});

$('.auth0-login').click(function (event) {
  // alert('Hooray!');
  lock.show()
  event.preventDefault(); // Prevent link from following its href
});

$('.auth0-signup').click(function (event) {
  // alert('Hooray!');
  signup_lock.show()
  event.preventDefault(); // Prevent link from following its href
});

</script>
