<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash.each do |name, msg| %>
	<% if msg.is_a?(String) %>
	<div class="alert alert-<%= name == "notice" ? "success" : "danger" %> floating-alert">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <%= content_tag :div, msg, :id => "flash_#{name}", class: 'alert-container' %>
	</div>
	<% end %>
<% end %>