<div id="limiter">
  <div id="first-container">
    <div class="header-overlay">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 centered cover-heading">
        <h2> Majlis Kapiten</h2>
        <div class="separator"></div>
        <p><%= explainer_text %></p>
        <p><%= link_to 'Bergabung', '/#', class: 'auth0-link auth0-signup btn btn-primary btn-md' unless user_signed_in? %></p>
      </div>
    </div>
  </div>
  <div class="app-container">

    <%= render 'user_impersonate/header' if current_staff_user %>
    <%= yield %>

  </div>
</div>
<%= render partial: 'layouts/footer', locals: { page_root: 'Majlis Kapiten' } %>
