<div id="sidebar-wrapper">
  <ul class="nav sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to 'Menu', admin_root_path %>
    </li>
    <li class="">
      <%= active_link_to 'Articles', admin_articles_path, :active => :exclusive, :wrap_tag => :li %>
    </li>
    <li class="">
      <%= active_link_to 'Users', admin_users_path, :active => :exclusive, :wrap_tag => :li %>
    </li>
    <li class="treeview">
    </li>
  </ul>
</div>
