<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <!-- Don't remove this, important for gplus omniauth -->
  <meta name="google-site-verification" content="SE_GXuKS4WokTiQ1_kpgnruK1g8zDANghc1Qrz_mnpw" />
  <%= favicon_link_tag App::Source::ICON %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= display_meta_tags site: 'Kapiten', reverse: true, icon: App::Source::ICON %>
  <% if Rails.env.staging? || admin_controller? %>
    <% set_meta_tags nofollow: true, noindex: true  %>
  <% end %>
  <%= render 'layouts/heap_script' %>
  <%= render 'layouts/google_analytics_script' %>
  <script src="https://cdn.auth0.com/js/lock/10.4/lock.min.js"></script>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="<%= yield (:body_class) %> <%= @body_class %>">
  <% if @admin_layout %>

    <%= render 'layouts/admin_layout' %>

  <% else %>
    <!-- Header, Navbar -->
    <%= render 'layouts/classic_navbar' %>
    <!-- Wrapper, Content/sec -->
    <%= render 'layouts/messages' %>

    <% if @static %>
      <%= yield %>
    <% else %>
      <div id="limiter">
        <div id="first-container">
          <div class="row upper-spacing">
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'layouts/addthis_sharing_script' unless Rails.env.staging? || Rails.env.test? %>
  <% end %>

  <%= render 'layouts/auth0_modal_lock_script' %>
</body>

</html>
