<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="SE_GXuKS4WokTiQ1_kpgnruK1g8zDANghc1Qrz_mnpw" />
  <%= favicon_link_tag App::Source::ICON %>
  <%= display_meta_tags site: 'Kapiten', reverse: true, icon: App::Source::ICON %>
  <% if Rails.env.staging? || admin_controller? %>
    <% set_meta_tags nofollow: true, noindex: true  %>
  <% end %>
  <!-- Theme style  -->
  <%= stylesheet_link_tag 'safina', media: 'all' %>
  <%= javascript_include_tag 'safina', 'data-turbolinks-track' => true %>
  <!-- Modernizr JS -->
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <%= render 'layouts/heap_script' %>
  <%= render 'layouts/google_analytics_script' %>
  <script src="https://embed.small.chat/T0VQQGKNYG59QDQ98S.js" async></script>
</head>
<body>
  <div class="fh5co-loader"></div>

  <%= render 'safina/navigation' %>

  <div id="page">
    <%= yield %>

    <%= render 'safina/footer' %>
  </div>
</body>
</html>
